*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/*--utilities--*/

.width75{
    width: 75%;
    margin: 0 auto;
}

.card{
    line-height: 1.5em;
}

/*---HEADER---*/

header{
    background-color:  #015eb4;
}

.header-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.header-content h1{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;

}

.header-content button{
    background: none;
    border: none;
    color: white;


}


/*---/HEADER---*/


/*---MAIN---*/

/*---FIRST SECTION---*/
.demo-section{
   background-color: rgb(172, 206, 243);
    margin-top: 3rem;
    border-radius: 5%;
    padding: 2em 2em 0 2em;

}

.card h2{
    margin-bottom: 2rem;
    color: #015eb4;
}

.card p{
    color: #579cdd;
}

.btn{
    margin-top: 2em;
    padding: 1em 2em;
    width: 70%;
    border: none;
    background-color: #015eb4 ;
    color: white;
    border-radius: 50px;
}
/*---/FIRST SECTION---*/


/*---SECOND SECTION---*/
        /*---FIRST CARD---*/


.skill-section{
    background-color: rgb(172, 243, 178);
     margin-top: 1rem;
     border-radius: 5%;
     padding: 2em;
     text-align: center;
     line-height: 1.5rem;
}

.skill-section i, h2{
    color: rgb(47, 168, 47);
    margin-bottom: 2rem;

}

.skill-section p{
    color: rgb(105, 187, 105);
}

    /*---/FIRST CARD---*/

    /*---SECOND CARD---*/

    .card2{
        background-color: rgb(241, 210, 212);

    }

    .card2 i, .card2 h2{
        color: rgb(255, 102, 102);
    }

    .card2 p{
        color: rgb(211, 131, 131);
    }

    /*---/SECOND CARD---*/



/*---/SECOND SECTION---*/



/*---/MAIN---*/
