*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/*--utilities--*/

.width75{
    width: 75%;
    margin: 0 auto;
}

.card{
    line-height: 1.5em;
}

/*---HEADER---*/

header{
    background-color:  #015eb4;
}

.header-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.header-content h1{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;

}

.header-content button{
    background: none;
    border: none;
    color: white;


}


/*---/HEADER---*/


/*---MAIN---*/

/*---FIRST SECTION---*/
.demo-section{
   background-color: rgb(172, 206, 243);
    margin-top: 3rem;
    border-radius: 5%;
    padding: 2em 2em 0 2em;

}

.card h2{
    margin-bottom: 2rem;
    color: #015eb4;
}

.card p{
    color: #579cdd;
}

.btn{
    margin-top: 2em;
    padding: 1em 2em;
    width: 70%;
    border: none;
    background-color: #015eb4 ;
    color: white;
    border-radius: 50px;
}
/*---/FIRST SECTION---*/


/*---SECOND SECTION---*/
        /*---FIRST CARD---*/


.skill-section{
    background-color: rgb(172, 243, 178);
     margin-top: 1rem;
     border-radius: 5%;
     padding: 2em;
     text-align: center;
     line-height: 1.5rem;
}

.skill-section i, .skill-section h2{
    color: rgb(47, 168, 47);
    margin-bottom: 2rem;

}

.skill-section p{
    color: rgb(105, 187, 105);
}

    /*---/FIRST CARD---*/

    /*---SECOND CARD---*/

    .card2{
        background-color: rgb(241, 210, 212);

    }

    .card2 i, .card2 h2{
        color: rgb(255, 102, 102);
    }

    .card2 p{
        color: rgb(211, 131, 131);
    }

    /*---/SECOND CARD---*/


       /*---THIRD CARD---*/

       .card3{
        background-color: rgb(255, 228, 153);

    }

    .card3 i, .card3 h2{
        color: rgb(236, 191, 42);
    }

    .card3 p{
        color: rgb(238, 200, 129);
    }

    /*---/THIRD CARD---*/

     /*---FOURTH CARD---*/

     .card4{
        background-color: #e3d2ff;

    }

    .card4 i, .card4 h2{
        color: rgb(179, 126, 248);
    }

    .card4 p{
        color: rgb(183, 134, 206);
    }

    /*---/FOURTH CARD---*/



/*---/SECOND SECTION---*/

/*---THIRD SECTION---*/

.planning-section{
    background-color: rgb(179, 126, 248);
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
}

#item1{
    width: -webkit-fill-available;
}

.ps-content h2, .ps-content p{
color: white;
margin: 1rem 0;
line-height: 1.5em;

}

.app-card{
    background-color: white;
    border-radius: 5%;
     padding: 2em;
     text-align: center;
     line-height: 1.5rem;

}

.app-card img {
width: -webkit-fill-available;
}

.app-card i, .app-card h2{
    color: black;
}

.app-card p{
    color: black;
    font-style: italic;
}

#download{
  
    background-color: rgb(179, 126, 248);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
/*---/THIRD SECTION---*/

/*---FOURTH SECTION---*/

    .testimonials{
        text-align: center;
        line-height: 1.5rem;
    
    }

    .testimonial-text h2{
        color: rgb(179, 126, 248);
        margin: 1em 0;
    }

    .testimonial-card{
        background-color: rgb(172, 243, 178);
         margin-top: 1rem;
         border-radius: 5%;
         padding: 2em;
         text-align: center;
         line-height: 1.5rem;
    }

    .testimonial-card img{
        width: -webkit-fill-available;
        border-radius: 50%;
    }

    .testimonial-card p{
        font-weight: bolder;
    }

    .t-card2{
        background-color: rgb(255, 228, 153); 
    }

    .t-card3{
        background-color:#e3d2ff;
    }
/*---/FOURTH SECTION---*/

/*--FIFTH SECTION--*/

.benefit-section{
    background-color: rgb(179, 126, 248);
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
}



.bn-content h2, .bn-content p{
color: white;
margin: 1rem 0;
line-height: 1.5em;

}

.benefit-card-section{
    background-color: rgb(235, 235, 235);
    border-radius: 5%;
     padding: 2em;
     line-height: 1.5rem;
     text-align: left;
     margin-bottom: 1.5em;

}


.benefit-card i, .benefit-card h2{
    color:  rgb(179, 126, 248);
}

.benefit-card p{
    color:  rgb(179, 126, 248);
    font-style: italic;
}

.card-btn{
    margin-top: 2em;
    padding: 1em 2em;
    width: 70%;
    border: none;
    color: white;
    border-radius: 50px;
    background-color:  rgb(179, 126, 248);
    
}



/*--/FIFTH SECTION--*/

/*--SIXTH SECTION--*/

.aboutus-section{
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
}



.aboutus-card h2, .aboutus p{
color: rgb(179, 126, 248);
margin: 1rem 0;
line-height: 1.5em;

}

.aboutus-card{
    
     
    line-height: 1.5rem;
     margin-bottom: 1.5em;

}

.aboutus-card img{
    width: -webkit-fill-available;
    border-radius: 50%;
    margin-top: 2rem;
}





/*--/SIXTH SECTION--*/

/*---SEVENTH SECTION---*/
.getstarted-section{
    background-color: rgb(179, 126, 248);
     margin-top: 3rem;
 
 }
 
 .registration-card{
    padding: 1.5rem 0;
    text-align: center;
    line-height: 1.5em;
 }

 .registration-card p {
     color: whitesmoke;
 }

 .registration-card h3{
     margin-top: 1rem;
     font-size: 2rem;
     color: white;
     font-weight: lighter;
     line-height: 2rem;
    }

 #free-text{
     margin: 3rem 0;
     color: #e9c628;
     font-size: 3rem;
 }
 
 .card p{
     color: #579cdd;
 }
 
 .btn-white{
     margin-top: 2em;
     padding: 1em 2em;
     width: 70%;
     border: none;
     background-color: whitesmoke;
     color:rgb(179, 126, 248);
     border-radius: 50px;
 }

 .copy-container  ul{
     display: flex;
     list-style-type: none;
     color: white;
     margin-top: 1rem;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 /*---/SEVENT SECTION---*/


/*---/MAIN---*/

 /*---FOOTER---*/

footer{
    background-color: black;
    color: white;
    padding: 2rem 0;
}



 /*---/FOOTER---*/